{% extends 'seller_index_.html' %}
{% load render_table from django_tables2 %}

{% block content %}


    <main id="main" class="main">

        <div class="card top-selling overflow-auto">

            <div class="pagetitle card-header  ">

                <div class="card ">
                    <div class="card-header d-flex align-items-center bg-light justify-content-between">
                        <h3><span class="badge border-dark border-1 text-dark">View Product</span></h3>


                        <div class="card-header-control ">
                            <a class="btn" href="{% url 'seller_add_product' %}"><span
                                    class="badge bg-dark">ADD-PRODUCT</span></a>
                        </div>

                    </div>
                    {% if filter %}
                        <form method="get" class="filter-form mt-2">
                            {{ filter.form }}

                            {% if has_filter %}
                                <div class="form-group col-lg-1 col-md-1 ">
                                    <a href="{% url 'view_product' %}" style="margin-left: 870px">

                                        <span class=" badge bg-danger"> Clear filter</span>

                                    </a>

                                </div>
                            {% endif %}
                            <div class="form-group col-lg-1 col-md-1  mb-2" style="margin-left: 870px">

                                <button type="submit" class="badge bg-success  ">Apply Filter</button>


                            </div>
                        </form>
                    {% endif %}
                </div>


            </div>

            <div class="card-body"> {% render_table table %} </div>
            {# this make table with fields in tables.py l-23 #}
        </div>

    </main>



{% endblock %}
