{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <main>
        <div class="container">

            <section
                    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="{% static 'assets/img/logo.png' %}" alt="">
                                    <span class="d-none d-lg-block">NiceAdmin</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3 pt-8 pb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-3">
                                        <h5 class="card-title text-center pb-0 fs-8">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>

                                    <form method="POST" >
                                        {% csrf_token %}
{#                                            {% for f in form %}#}
{#                                                {{ f.label_tag }} {{ f }} {{ fm.errors | striptags }} <br><br>#}
{#                                            {% endfor %}#}
                                            {{ form.username | as_crispy_field }}
                                            {{ form.first_name | as_crispy_field }}
                                            {{ form.last_name | as_crispy_field }}
                                            {{ form.email | as_crispy_field }}
                                            {{ form.password1 | as_crispy_field }}
                                            {{ form.password2 | as_crispy_field }}
                                            {{ form.gender | as_crispy_field }}
                                            {{ form.usertype | as_crispy_field }}


{#                                        {% crispy form %}#}

                                        <div class="col-12 mt-4">
                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                        </div>

                                    </form>

                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a
                                                href="{% url 'registration:login' %}">Log in</a></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}



